#main{
    display: flex;
    
justify-content:space-evenly    ;
}
body {
    background-color: #435260;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bitter', serif;
    border-top: 3px solid #ffff56;
    box-sizing: border-box;
    color: aliceblue;
}
#container{
    margin: 4%;
    display: grid;
    justify-content: center;
}

#l{

margin-right: 500px;
}
h3{
    text-align:center;
}


button {
    margin: auto;
    background-color: black;
    width: 40%;
    height:200px;
    color: white;
    border: 2px solid;
    font-size: medium;
    font-weight: bold;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
}

button:hover {
    color: black;
    background-color: #ffff56;
}